header  #ImgProfile{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 300px;
}
header #above{
    text-align: center;
    height: 600px;
}
header #CoverProfile{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;

}
main #me{
    text-decoration:  solid;
    font-size: 20px;
   
}
.list { 
float: left;
margin: 10px;
}
.list ul li { 
font-size: 30px;
}
li:nth-of-type(even){
    color: red;
}
li:nth-of-type(odd){
    color: green;
}
.text { 
    font-size: 30px;
    margin : 60px;
    }